defaults
mode http
timeout connect 5000ms
timeout client 50000ms
timeout server 50000ms

frontend http-in
bind *:80
default_backend pqrs-backend

backend pqrs-backend
option httpchk GET /healthcheck
http-check expect status 200
server pqrs-1 pqrs-1:5000 check inter 1s rise 1 fall 1
server pqrs-2 pqrs-2:5000 check inter 1s rise 1 fall 1
server pqrs-backup pqrs-backup:5000 backup
    
